<nav class="navbar navbar-inverse" role="navigation" style="border-top-left-radius: 0px;border-top-right-radius: 0px;">
      <a class="navbar-brand" href="/" style="margin-left: 9px;">Tim Mee</a>
  <div class="container">
    <div class="navbar-header">
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="https://github.com/Tmee"target='_blank'>Github</a>
        </li>
        <li>
          <a href="http://stackoverflow.com/users/5573465/tim-mee" target='_blank'>StackOverflow</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/timothy-mee" target='_blank'>LinkedIn</a>
        </li>
        <li>
          <a href="#info" >About Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>