<%= render partial: 'nav_bar' %>
<div class="container">
  <div class="row" style="height:100vh;">
    make one of those water squirt race games are carnevals

    rails games new controller for each game
    user has many levels
    <br/>
    <br/>
    <div class="row animate">
      <div id="div1">horse 1</div>
      <div id="div2">horse 2</div>
      <div id="div3">horse 3</div>
      <div id="div4">horse 4</div>
      <div id="div5">horse 5</div>
    </div>

  </div>


<!--     What should go here?
      - about me
      - drz
        - wiring
        - lighting
      - tacoma
        - build?
      - ski
      - hike
      - bike
      - develop
        - rails
 -->
  <div class="row" style="height:100vh;">
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Hello,</h1>
                <h2>Thanks for visiting!</h2>
            </div>
        </div>
    </header>

    <div class="container">
      <hr class="featurette-divider">

      <!-- First Featurette -->
      <div class="featurette" id="about">
          <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
          <h2 class="featurette-heading">Web Developer
              <span class="text-muted">It makes the money</span>
          </h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider"/>

      <!-- Second Featurette -->
      <div class="featurette" id="services">
          <img class="featurette-image img-circle img-responsive pull-left" src="http://placehold.it/500x500">
          <h2 class="featurette-heading">Motorcycles
              <span class="text-muted">Are cool things to use</span>
          </h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">

      <!-- Third Featurette -->
      <div class="featurette" id="contact">
          <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
          <h2 class="featurette-heading">The Third Heading
              <span class="text-muted">Will Seal the Deal.</span>
          </h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">

      <!-- Footer -->
      <footer>
          <div class="row">
              <div class="col-lg-12">
                  <p></p>
              </div>
          </div>
      </footer>
    </div>
    </div>
  </div>
</div>