<hr>
<div class="career">
  <%=
      image_tag @pictures[2].file.url(:medium),
      class:'img-circle pull-right',
      'data-toggle' => "tooltip",
      title: 'Mt. Lincoln, CO',
      'data-placement' => "bottom",
      style: 'margin-left: 25px;'
    %>

  <h2 class="featurette-heading">Web Developer
    <span class="text-muted">career</span>
  </h2>
  <p class="lead">Full Stack Rails Developer - I'm able to work on many different parts of a web application, from building database models to making buttons look nice and work properly.  I take pride in my work and enjoy working on teams with other motivated and hard working individuals.  I current work at Optum as a Senior Web Developer.</p>
  <p><strong>I am currently looking for new roles as a Web Developer!</strong>  Does my Resume seem like a fit for a possible role?</p>
</div>
<br/>