<hr>
<div class="career">
  <%=
      image_tag 'small-tim.png',
      class:'img-circle pull-right',
      'data-toggle' => "tooltip",
      title: 'Mt. Lincoln, CO',
      'data-placement' => "bottom",
      style: 'margin-left: 25px;'
    %>

  <h2 class="featurette-heading">Web Developer
    <span class="text-muted">career</span>
  </h2>
  <p class="lead">Full Stack Web Developer - I'm able to work on many different parts of a web application, from building database models to making buttons look nice and work properly.  I take pride in my work and enjoy working on teams with other motivated and hard working individuals.  I currently work at <a href='https://www.optum.com/' target='_blank'>Optum</a> as a Senior Web Developer.</p>
</div>
<br/>