<hr>
<div class="history">
  <%=
       image_tag 'philo.jpg',
      'data-toggle' => "tooltip",
      'data-html' => true,
      'data-title' => 'Mt. Philo, VT',
      class:'pull-right',
      style: 'margin-right: 25px;'
    %>
  <h2 class="featurette-heading">History
    <span class="text-muted">what came before...</span>
  </h2>
  <p class="lead">Denver, Colorado is where I call home, but I was raised on the east coast.  I lived in Boston, MA until I moved to Vermont to attended college.  While in Vermont I earned a B.A. in Economics as well as an Advanced EMT certification.  I worked as a phlebotomist and EMT post graduation and eventually saved enough to make the move out to Colorado.  Once here I was accepted into <a href='http://turing.io' target='_blank'>Turing School of Software and Design</a>, a full time software development program in Denver, CO.  I successfully completed Turing's program and moved into my professional career.</p>
</div>
