<hr>
<div class="interests">
  <%=
      image_tag 'drz.jpg',
      'data-toggle' => "tooltip",
      'data-html' => true,
      'data-title' => '2000 DRZ400e',
      class:'pull-left',
      style: 'margin-right: 25px;'
    %>
  <h2 class="featurette-heading">Interests
    <span class="text-muted">free time</span>
  </h2>
  <p class="lead">I like to stay active and be outside.  I moved to Colorado because it has a lot to offer the outdoor enthusist and I try to take advantage of this beautiful state as much as I can. When I'm not outside I can be found in my garage working on my lathe or fixing something that probably wasn't broken before I touched it.</p>
</div>
<br/>